Repository difyrrwrzd/cuvs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-python-codeowners, @rapidsai/cuvs-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuvs-cpp-codeowners

#python code owners
python/            @rapidsai/cuvs-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cuvs-cmake-codeowners
**/cmake/          @rapidsai/cuvs-cmake-codeowners
python/setup.py    @rapidsai/cuvs-cmake-codeowners
build.sh           @rapidsai/cuvs-cmake-codeowners
**/build.sh        @rapidsai/cuvs-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
docker/            @rapidsai/ops-codeowners
dependencies.yaml  @rapidsai/ops-codeowners

Cmake bits are mostly correct
  cpp/bench/ann/CMakeLists.txt
  cpp/bench/micro/CMakeLists.txt
  cpp/bench/micro/matrix/select_k.cu
  cpp/bench/micro/neighbors/refine.cuh
  cpp/internal/CMakeLists.txt
  cpp/internal/cuvs_internal/neighbors/naive_knn.cuh
  cpp/internal/cuvs_internal/neighbors/refine_helper.cuh
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/ann_cagra.cuh
  cpp/test/neighbors/ann_ivf_flat.cuh
  cpp/test/neighbors/ann_ivf_pq.cuh
  cpp/test/neighbors/ann_nn_descent.cuh
  cpp/test/neighbors/ann_utils.cuh
  cpp/test/neighbors/refine.cu
  cpp/test/stats/neighborhood_recall.cu
Owners: @rapidsai/cuvs-cmake-codeowners, @rapidsai/cuvs-cpp-codeowners

Moved over cluster namespace
  cpp/include/cuvs/cluster/detail/agglomerative.cuh
  cpp/include/cuvs/cluster/detail/connectivities.cuh
  cpp/include/cuvs/cluster/detail/kmeans.cuh
  cpp/include/cuvs/cluster/detail/kmeans_auto_find_k.cuh
  cpp/include/cuvs/cluster/detail/kmeans_balanced.cuh
  cpp/include/cuvs/cluster/detail/kmeans_common.cuh
  cpp/include/cuvs/cluster/detail/kmeans_deprecated.cuh
  cpp/include/cuvs/cluster/detail/mst.cuh
  cpp/include/cuvs/cluster/detail/single_linkage.cuh
  cpp/include/cuvs/cluster/kmeans.cuh
  cpp/include/cuvs/cluster/kmeans_balanced.cuh
  cpp/include/cuvs/cluster/kmeans_balanced_types.hpp
  cpp/include/cuvs/cluster/kmeans_deprecated.cuh
  cpp/include/cuvs/cluster/kmeans_types.hpp
  cpp/include/cuvs/cluster/single_linkage.cuh
  cpp/include/cuvs/cluster/single_linkage_types.hpp
  cpp/include/cuvs/cluster/specializations.cuh
  cpp/test/cluster/cluster_solvers.cu
  cpp/test/cluster/cluster_solvers_deprecated.cu
  cpp/test/cluster/kmeans.cu
  cpp/test/cluster/kmeans_balanced.cu
  cpp/test/cluster/kmeans_find_k.cu
  cpp/test/cluster/linkage.cu
Owners: @rapidsai/cuvs-cpp-codeowners

More namespace qualifying.
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_cutlass.cmake
  cpp/cmake/thirdparty/get_faiss.cmake
  cpp/cmake/thirdparty/get_ggnn.cmake
  cpp/cmake/thirdparty/get_glog.cmake
  cpp/cmake/thirdparty/get_hnswlib.cmake
  cpp/cmake/thirdparty/get_nlohmann_json.cmake
  cpp/cmake/thirdparty/get_raft.cmake
  cpp/cmake/thirdparty/get_rmm.cmake
  cpp/cmake/thirdparty/get_thrust.cmake
  cpp/include/cuvs/distance/distance-inl.cuh
  cpp/include/cuvs/neighbors/brute_force-inl.cuh
  cpp/include/cuvs/neighbors/brute_force_types.hpp
  cpp/include/cuvs/neighbors/detail/cagra/search_plan.cuh
  cpp/include/cuvs/neighbors/detail/faiss_select/Select.cuh
  cpp/include/cuvs/neighbors/detail/ivf_flat_interleaved_scan-inl.cuh
  cpp/include/cuvs/neighbors/detail/knn_brute_force.cuh
  cpp/include/cuvs/neighbors/detail/knn_brute_force_batch_k_query.cuh
  cpp/include/cuvs/neighbors/detail/knn_merge_parts.cuh
  cpp/include/cuvs/neighbors/ivf_flat_types.hpp
  cpp/include/cuvs/neighbors/ivf_list_types.hpp
  cpp/include/cuvs/spatial/knn/detail/haversine_distance.cuh
Owners: @rapidsai/cuvs-cmake-codeowners, @rapidsai/cuvs-cpp-codeowners

Update actions/labeler to v4 (#1)
  .github/workflows/labeler.yml
Owners: @rapidsai/ops-codeowners

Remove usages of rapids-env-update (#3)
  ci/build_cpp.sh
  ci/build_python.sh
Owners: @rapidsai/ops-codeowners

CAGRA C-api compile fixes (#28)
  build.sh
  cpp/include/cuvs/neighbors/cagra_c.h
  cpp/src/neighbors/cagra_c.cpp
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/ann_cagra_c.cu
  cpp/test/neighbors/c_api.c
Owners: @rapidsai/cuvs-cmake-codeowners, @rapidsai/cuvs-cpp-codeowners

Remving Python from build
  README.md
  ci/build_python.sh
  ci/build_wheel_cuvs.sh
  ci/test_python.sh
  ci/test_wheel_cuvs.sh
  docs/source/index.rst
Owners: @rapidsai/ops-codeowners
